.footer {
  color: white;
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
}

.footer .footer-top {
  padding-top: 25px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--default-font);
  color: white;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 16px;
  color: white !important;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer h3 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  color: white;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 7px 0;
  display: flex;
  align-items: center;
  color: white;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: white;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
}
.footer-links a::before {
  content: '➤';
  margin-right: 5px;
  font-weight: bold;
  transition: margin-right 0.3s ease;
}

.footer-links a:hover::before {
  margin-right: 10px;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color) !important;
  letter-spacing: 0.5px;
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding: 10px 0;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

