<div class="page-title accent-background">
  <div class="container position-relative section-title">
    <h2>Ras Chapter</h2>
    <p></p>
  </div>
</div>

<app-footer
  [logoSrc]="'img/logos/raswhite.png'"
  [aboutText]="'Join IEEE RAS Ensit Student Branch Chapter - Empowering Tech Enthusiasts Since 2023. Boost Your Career & Skills Now!'"
  [footerBackgroundColor]="'var(--ras-color)'"

  [footerEmail]="'ensit.ras.sbc@gmail.com'"
  [footerPhone]="'+216 53 154 099'"

  [footerFacebook]="'https://www.facebook.com/IEEE.RAS.ENSIT'"
  [footerinstagram]="'https://www.instagram.com/ieee.ensit.ras/'"
></app-footer>
