<p>cs works!</p>


<app-footer
  [logoSrc]="'img/logos/cswhite.png'"
  [aboutText]="'Join IEEE CS Ensit Student Branch Chapter - Empowering Tech Enthusiasts Since 2021. Boost Your Career & Skills Now!'"
  [footerBackgroundColor]="'var(--cs-color)'"

  [footerEmail]="'cs.chapter.ensit@gmail.com'"
  [footerPhone]="'+216 51 907 825'"

  [footerFacebook]="'https://www.facebook.com/profile.php?id=100081856069185'"
  [footerinstagram]="'https://www.instagram.com/ieee.ensit.cs/'"
></app-footer>


