<div class="page-title accent-background">
  <div class="container position-relative section-title">
    <h2>Wie Chapter</h2>
    <p></p>
  </div>
</div>

<app-footer
  [logoSrc]="'img/logos/wiewhite.png'"
  [aboutText]="'Join the inspiring community of IEEE WIE Women in Engineering Chapter - Empowering Women Tech Enthusiasts Since 2021. Elevate your career and skills to new heights!'"
  [footerBackgroundColor]="'var(--wie-color)'"

  [footerEmail]="'ieee.ensit.wie@gmail.com'"
  [footerPhone]="'+216 95 741 882'"

  [footerFacebook]="'https://www.facebook.com/profile.php?id=100066770896698'"
  [footerinstagram]="'https://www.instagram.com/ieee_wie_ensit/'"
></app-footer>
