<p>ias works!</p>

<app-footer
  [logoSrc]="'img/logos/iaswhite.png'"
  [aboutText]="'Join IEEE IAS Ensit Student Branch Chapter - Empowering industry Enthusiasts Since 2013. Boost Your Career & Skills Now!'"
  [footerBackgroundColor]="'var(--ias-color)'"

  [footerEmail]="'ieeeiasensitsbchapter@gmail.com'"
  [footerPhone]="'+216 27 165 351'"

  [footerFacebook]="'https://www.facebook.com/ieee.ias.ensit'"
  [footerinstagram]="'https://www.instagram.com/ieee.ias.ensit'"
></app-footer>

