    <!-- Page Header Start -->
    <div class="container-fluid alumni-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container text-center py-5">
          <img src="img/Alumni/2021/alumni2021.jpg" alt="" width="100%"/>
          <h1 class="display-2 text-white mb-4 animated slideInDown">Alumni</h1>
          <h2 class="display-2 text-white mb-4 animated slideInDown" >2021-2022 Mandate</h2>
      </div>
  </div>
  <!-- Page Header End -->

  <!-- Service Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-5 sb-underline">Student Branch Staff</h1>
          </div>
          <div class="row g-4">

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <app-member-card
                  name="Mehrez Choura"
                  role="Chairman"
                  image="img/Alumni/2021/mehrez.jpg"
                  contactLink="https://www.facebook.com/Choura.mehrez.7"
                  delay="0.1s">
              </app-member-card>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <app-member-card
                  name="Wael Aissaoui"
                  role="Vice Chairman"
                  image="img/Alumni/2021/wael%20aissaoui.jpg"
                  contactLink="https://www.facebook.com/weel.aissaoui">
              </app-member-card>
            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp"  data-wow-delay="0.5s">
              <app-member-card
                name="Ennaifer Mounira"
                role="General Secretary"
                image="img/Alumni/2021/mounira.jpg"
                contactLink="https://www.facebook.com/ennaifer.mounira">
              </app-member-card>
            </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/ghada%20berguiga.jpeg" width="250">
                          <h5 class="mb-3">Ghada Berguiga</h5>
                          <p class="mb-0">HR Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/ghada.berguiiga">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/youssef.png" width="250">
                          <h5 class="mb-3">Youssef Jehli</h5>
                          <p class="mb-0">WEBMASTER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/youssef.jehli.7">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/mouhib.png" width="250">
                          <h5 class="mb-3">Mouhib Jaballah</h5>
                          <p class="mb-0">TREASURER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/profile.php?id=100008192864497">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="mt-5 container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-5 cs-underline">Computer Society</h1>

          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/mohamedneji.jpg" width="250">
                          <h5 class="mb-3">Mohammed Neji</h5>
                          <p class="mb-0">Chairman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/mohamed.neji.503">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/ahmeddammak.jpg" width="250">
                          <h5 class="mb-3">Ahmed Dammmak</h5>
                          <p class="mb-0">Vice Chairman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/ahmed.dammak.961">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/rahakrizi.jpg" width="250">
                          <h5 class="mb-3">Raja Krizi</h5>
                          <p class="mb-0">GENERAL SECRETARY</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/profile.php?id=100009480836409">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/jihenbenothman.jpg" width="250">
                          <h5 class="mb-3">Jihen Ben Othman</h5>
                          <p class="mb-0">Training Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/jihen.benothman.22">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp"  data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/ahmedkhalilseddik.jpg" width="250">
                          <h5 class="mb-3">Ahmed Khalil Seddik</h5>
                          <p class="mb-0">Project Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/TheRealAKS">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/ahmedmaalej.jpg" width="250">
                          <h5 class="mb-3">Ahmed Maalej</h5>
                          <p class="mb-0">WEBMASTER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/ahmedmaalej99">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" style="margin: auto; margin-top: 2%" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/chaimaamara.jpg" width="250">
                          <h5 class="mb-3">Chaima Amara</h5>
                          <p class="mb-0">TREASURER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/amara.chayma">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="mt-5 container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-5 ras-underline">Robotics and Automation Society</h1>

          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/oumaymatrabelsi.jpeg" width="250">
                          <h5 class="mb-3">Oumayma Trabelsi</h5>
                          <p class="mb-0">Chairwoman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/sb.sg.sl">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/hazem%20jiani.jpeg" width="250">
                          <h5 class="mb-3">Hazem Jilani</h5>
                          <p class="mb-0">Vice Chairman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/jilanimounir2o11">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/yassinefattoum.jpeg" width="250">
                          <h5 class="mb-3">Yassine fattoum</h5>
                          <p class="mb-0">GENERAL SECRETARY</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/yassine.fattoum">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/roua%20romdhane.jpg" width="250">
                          <h5 class="mb-3">Roua ben romdhane</h5>
                          <p class="mb-0">WEBMASTER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/rouaromdhane8">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/eyaketbi.jpeg" width="250">
                          <h5 class="mb-3">Eya Ketbi</h5>
                          <p class="mb-0">TREASURER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/profile.php?id=100008342865460">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="mt-5 container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-5 ias-underline">Industry Applications Society</h1>

          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Ghassen abdelaoui</h5>
                          <p class="mb-0">Chairman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/hamza.jmii.9">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Sara moula</h5>
                          <p class="mb-0">Vice Chairwoman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/mohamed.nahdi.92791">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Majdi hajjaji</h5>
                          <p class="mb-0">Project Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/maha.abd.7543">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div><div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Majdi hajjaji</h5>
                          <p class="mb-0">GENERAL SECRETARY</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/maha.abd.7543">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Fakhreddine annabi</h5>
                          <p class="mb-0">WEBMASTER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/kasoma.aicha">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Eya kotbi</h5>
                          <p class="mb-0">HR Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/profile.php?id=100008342865460">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/avatar.png" width="250">
                          <h5 class="mb-3">Eya el Jery</h5>
                          <p class="mb-0">TREASURER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/Amouli.benmaiz">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="mt-5 container">
          <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
              <h1 class="display-5 mb-5 wie-underline">Woman In Engineering</h1>

          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/wiemselmi.jpg" width="250">
                          <h5 class="mb-3">Wiem Selmi</h5>
                          <p class="mb-0">Chairwoman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/wiem.selmi.712">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/Farah%20Chaouachi.png" width="250">
                          <h5 class="mb-3">Farah Chaouachi</h5>
                          <p class="mb-0">Vice Chairwoman</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/farah.chaouachi.1">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/Dina%20Ouardani.jpg" width="250">
                          <h5 class="mb-3">Dina Ouardani</h5>
                          <p class="mb-0">GENERAL SECRETARY</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/dina.ouardani.1">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/Dorsaf%20Trabelsi.jpg" width="250">
                          <h5 class="mb-3">Dorsaf Trabelsi</h5>
                          <p class="mb-0">Training Manager</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/dorsaf.dadou.108889">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/Ameni%20Mzoughi.jpg" width="250">
                          <h5 class="mb-3">Ameni Mzoughi</h5>
                          <p class="mb-0">WEBMASTER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/ameni.mzoughi.585">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service-item position-relative h-100">
                      <div class="service-text rounded p-5">
                          <img  alt="" class="mb-4" src="img/Alumni/2021/Rania%20Ali.jpg" width="250">
                          <h5 class="mb-3">Rania Ali</h5>
                          <p class="mb-0">TREASURER</p>
                      </div>
                      <div class="service-btn rounded-0 rounded-bottom">
                          <a class="text-primary fw-medium" href="https://www.facebook.com/profile.php?id=100007769913097">Contact<i
                                  class="bi bi-chevron-double-right ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Service End -->
<app-footer></app-footer>
