<p>aess works!</p>


<app-footer
  [logoSrc]="'img/logos/aesswhite.png'"
  [aboutText]="'Join IEEE AESS Ensit Student Branch Chapter - Empowering Tech Enthusiasts Since 2023. Boost Your Career & Skills Now!'"
  [footerBackgroundColor]="'var(--aess-color)'"

  [footerEmail]="'ieeeaessensit@gmail.com'"
  [footerPhone]="'+216 97 443 162'"

  [footerFacebook]="'https://www.facebook.com/profile.php?id=100086913228541'"
  [footerinstagram]="'https://www.instagram.com/aess_ieee_ensit/'"
></app-footer>


